<div class="container">
<h2>Shop!</h2>
<%= image_tag('GOPR0105.JPG', :width => "250", :height => "250", class: 'media-object img-rounded') %>
<%= social_share_button_tag("Canary Lovers", :url => "http://canarylovers.com/shop") %>
</div>